################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HomeWork/.vs/HomeWork/FileContentIndex
